interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.stackexchange.com/2.3/questions?site=electronics&tagged=kicad&sort=votes&order=desc&pagesize=5&filter=default
  response:
    body:
      string: '{"items":[{"tags":["kicad"],"owner":{"account_id":6542076,"reputation":2274,"user_id":91386,"user_type":"registered","accept_rate":20,"profile_image":"https://www.gravatar.com/avatar/42c83cc402045e23c3a9478a02d5c553?s=256&d=identicon&r=PG&f=y&so-version=2","display_name":"Cal-linux","link":"https://electronics.stackexchange.com/users/91386/cal-linux"},"is_answered":true,"view_count":18487,"accepted_answer_id":392977,"answer_count":1,"score":44,"last_activity_date":1641077256,"creation_date":1535370868,"question_id":392911,"content_license":"CC
        BY-SA 4.0","link":"https://electronics.stackexchange.com/questions/392911/kicad-5-what-is-the-significance-of-the-various-gnd-symbols","title":"KiCAD
        5 --- what is the significance of the various GND symbols?"},{"tags":["kicad"],"owner":{"account_id":1347013,"reputation":641,"user_id":28470,"user_type":"registered","profile_image":"https://www.gravatar.com/avatar/f21a0b64108bc8a214b24ac41e6a3916?s=256&d=identicon&r=PG","display_name":"Plasty
        Grove","link":"https://electronics.stackexchange.com/users/28470/plasty-grove"},"is_answered":true,"view_count":34761,"protected_date":1515240201,"accepted_answer_id":150107,"answer_count":1,"score":39,"last_activity_date":1515219875,"creation_date":1420383163,"question_id":146544,"content_license":"CC
        BY-SA 3.0","link":"https://electronics.stackexchange.com/questions/146544/kicad-moving-and-rotating-components-with-wires-connected","title":"KiCAD
        - Moving and rotating components with wires connected"},{"tags":["kicad"],"owner":{"account_id":11881,"reputation":1021,"user_id":568,"user_type":"registered","accept_[...]
