interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://api.github.com/search/repositories?q=topic%3Akicad&sort=stars&per_page=5
  response:
    body:
      string: "{\"total_count\":4372,\"incomplete_results\":false,\"items\":[{\"id\":64177015,\"node_id\":\"MDEwOlJlcG9zaXRvcnk2NDE3NzAxNQ==\",\"name\":\"awesome-electronics\",\"full_name\":\"kitspace/awesome-electronics\",\"private\":false,\"owner\":{\"login\":\"kitspace\",\"id\":32424528,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjMyNDI0NTI4\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/32424528?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/kitspace\",\"html_url\":\"https://github.com/kitspace\",\"followers_url\":\"https://api.github.com/users/kitspace/followers\",\"following_url\":\"https://api.github.com/users/kitspace/following{/other_user}\",\"gists_url\":\"https://api.github.com/users/kitspace/gists{/gist_id}\",\"starred_url\":\"https://api.github.com/users/kitspace/starred{/owner}{/repo}\",\"subscriptions_url\":\"https://api.github.com/users/kitspace/subscriptions\",\"organizations_url\":\"https://api.github.com/users/kitspace/orgs\",\"repos_url\":\"https://api.github.com/users/kitspace/repos\",\"events_url\":\"https://api.github.com/users/kitspace/events{/privacy}\",\"received_events_url\":\"https://api.github.com/users/kitspace/received_events\",\"type\":\"Organization\",\"user_view_type\":\"public\",\"site_admin\":false},\"html_url\":\"https://github.com/kitspace/awesome-electronics\",\"description\":\"A
        curated list of awesome resources for Electronic Engineers and hobbyists\",\"fork\":false,\"url\":\"https://api.github.com/repos/kitspace/awesome-electronics\",\"forks_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/forks\",\"keys_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/keys{/key_id}\",\"collaborators_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/collaborators{/collaborator}\",\"teams_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/teams\",\"hooks_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/hooks\",\"issue_events_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/issues/events{/number}\",\"events_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/events\",\"assignees_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/assignees{/user}\",\"branches_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/branches{/branch}\",\"tags_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/tags\",\"blobs_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/git/blobs{/sha}\",\"git_tags_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/git/tags{/sha}\",\"git_refs_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/git/refs{/sha}\",\"trees_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/git/trees{/sha}\",\"statuses_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/statuses/{sha}\",\"languages_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/languages\",\"stargazers_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/stargazers\",\"contributors_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/contributors\",\"subscribers_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/subscribers\",\"subscription_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/subscription\",\"commits_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/commits{/sha}\",\"git_commits_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/git/commits{/sha}\",\"comments_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/comments{/number}\",\"issue_comment_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/issues/comments{/number}\",\"contents_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/contents/{+path}\",\"compare_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/compare/{base}...{head}\",\"merges_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/merges\",\"archive_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/{archive_format}{/ref}\",\"downloads_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/downloads\",\"issues_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/issues{/number}\",\"pulls_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/pulls{/number}\",\"milestones_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/milestones{/number}\",\"notifications_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/notifications{?since,all,participating}\",\"labels_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/labels{/name}\",\"releases_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/releases{/id}\",\"deployments_url\":\"https://api.github.com/repos/kitspace/awesome-electronics/deployments\",\"created_at\":\"2016-07-26T00:30:56Z\",\"updated_at\":\"2026-08-30T11:06:09Z\",\"pushed_at\":\"2026-01-05T18:43:02Z\",\"git_url\":\"git://github.com/kitspace/awesome-electronics.git\",\"ssh_url\":\"git@github.com:kitspace/awesome-electronics.git\",\"clone_url\":\"https://github.com/kitspace/awesome-electronics.git\",\"svn_url\":\"https://github.com/kitspace/awesome-electronics\",\"homepage\":\"\",\"size\":199,\"stargazers_count\":8078,\"watchers_count\":8078,\"language\":null,\"has_issues\":true,\"has_projects\":false,\"has_downloads\":false,\"has_wiki\":false,\"has_pages\":false,\"has_discussions\":false,\"forks_count\":535,\"mirror_url\":null,\"archived\":false,\"disabled\":false,\"open_issues_count\":34,\"license\":{\"key\":\"cc0-1.0\",\"name\":\"Creative
        Commons Zero v1.0 Universal\",\"spdx_id\":\"CC0-1.0\",\"url\":\"https://api.github.com/licenses/cc0-1.0\",\"node_id\":\"MDc6TGljZW5zZTY=\"},\"allow_forking\":true,\"is_template\":false,\"web_commit_signoff_required\":false,\"has_pull_requests\":true,\"pull_request_creation_policy\":\"all\",\"topics\":[\"altium\",\"awesome\",\"eagle\",\"electronics\",\"gerber\",\"hardware\",\"kicad\",\"pcb\"],\"visibility\":\"public\",\"forks\":535,\"open_issues\":34,\"watchers\":8078,\"default_branch\":\"master\",\"score\":1.0},{\"id\":142263436,\"node_id\":\"MDEwOlJlcG9zaXRvcnkxNDIyNjM0MzY=\",\"name\":\"InteractiveHtmlBom\",\"full_name\":\"openscopeproject/InteractiveHtmlBom\",\"private\":false,\"owner\":{\"login\":\"openscopeproject\",\"id\":32949897,\"node_id\":\"MDEyOk9yZ2FuaXphdGlvbjMyOTQ5ODk3\",\"avatar_url\":\"https://avatars.githubusercontent.com/u/32949897?v=4\",\"gravatar_id\":\"\",\"url\":\"https://api.github.com/users/openscopeproject\",\"html_url\":\"https://github.com/openscopeproject\",\"followers_u[...]
