interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://habr.com/ru/articles/712234/
  response:
    body:
      string: Found. Redirecting to https://habr.com/ru/companies/otus/articles/712234/
    headers:
      Content-Type:
      - text/plain; charset=utf-8
      Location:
      - https://habr.com/ru/companies/otus/articles/712234/
      X-Feature-sc:
      - disabled
      X-Request-Detected-Device:
      - mobile
      X-Request-Geoip-Country-Code:
      - SG
    status:
      code: 302
      message: Found
- request:
    body: null
    headers:
    method: GET
    uri: https://habr.com/ru/companies/otus/articles/712234/
  response:
    body:
      string: "<!DOCTYPE html>\n<html lang=\"ru\">\n\n  <head>\n    <title>\u0410\u043B\u0433\u043E\u0440\u0438\u0442\u043C
        \u0432\u043D\u0435\u0448\u043D\u0435\u0439 \u0441\u043E\u0440\u0442\u0438\u0440\u043E\u0432\u043A\u0438
        \u0441\u043B\u0438\u044F\u043D\u0438\u0435\u043C &#x2F; \u0425\u0430\u0431\u0440</title>\n<meta
        property=\"fb:app_id\" content=\"444736788986613\">\n<meta property=\"fb:pages\"
        content=\"472597926099084\">\n<meta name=\"twitter:card\" content=\"summary_large_image\">\n<meta
        name=\"twitter:site\" content=\"@habr_com\">\n<meta property=\"og:site_name\"
        content=\"\u0425\u0430\u0431\u0440\">\n<link href=\"https://habr.com/ru/rss/post/712234/?fl=ru\"
        type=\"application/rss+xml\" title rel=\"alternate\" name=\"rss\">\n<link
        href=\"https://habr.com/ru/companies/otus/articles/712234/\" rel=\"canonical\"
        data-hid=\"e3fa780\">\n<link rel=\"image_src\" href=\"https://habrastorage.org/getpro/habr/upload_files/10b/a1a/f1c/10ba1af1ceedc962548de812a4d9ebf9.png\"
        data-hid=\"2a79c45\">\n<link rel=\"amphtml\" href=\"https://habr.com/ru/amp/publications/712234/\">\n<meta
 [...]
